<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<form action="/user/create" method="post">
	  First name:<br>
	  <input type="text" name="name" value="Mickey"><br>
	  Last name:<br>
	  <input type="password" name="password" value="Mouse"><br><br>
	  <input type="submit" value="Submit">
	</form>
</body>
</html>